<section>
  <div class="banner">
    <img src="images/valentinesBanner.png" height="609" width="3000">
  </div>
</section>

<section>
  <h2>Categories</h2>
  <div class="row">
    {{#each categories}}
    <div class="card" style="width: 18rem;" onclick="location.href='/productsList?category={{this.title}}'">
  <img src={{this.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
  </div>
</div>
    {{/each}}
  </div>
</section>

<section>
  <h2>Best Sellers</h2>
  <div class="row">
    {{#each bestSellerProducts}}
    <div class="card" style="width: 18rem;">
  <img src={{this.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">${{this.price}}</p>
  </div>
</div>
    {{/each}}
  </div>
</section>
